html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    color: white;
}

main {
    padding-top: 6rem;
    padding-bottom: 4rem;
}

footer {
    background-color: #000000;
    list-style: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    word-spacing: 1rem;
}

footer ul li {
    display: inline-block;
}

a {
    color: white;
    text-decoration: none;
}
