html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: "batman";
}

body {
    margin: 0;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: chucknorris;
    color: orangered;
    z-index: 100;
}

main {
    padding-top: 80px;
    padding-bottom: 4rem;
}

footer {
    background-color: #000000;
    list-style: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    word-spacing: 1rem;
    letter-spacing: 0.25rem;
}

footer ul li {
    color: white;
    display: inline-block;
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    position: sticky;
    top: 80px;
    background-color: "rambo";
    margin: 0;
    z-index: 100;
}

p {
    margin: 0;
}

.container {
    width: 3000px;
    padding-left: 500px;
}

img {
    width: 150px;
    position: sticky;
    left: 10px;
}
