html {
    /*          erste Wahl , zweite Wahl, letzte Wahl */
    /* sans-serif bedeutet: Wähle irgend eine Schriftart ohne Serifen */
    font-family: "Roboto", "Arial", sans-serif;
}

h1 {
    font-family: "Pacifico", cursive;
}

.text-red {
    color: red;
}
