* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: hsl(360, 0%, 75%);
}

button:disabled {
    background-color: white;
}
