// Mit %name Zeichen kann man "placeholder klassen" definieren die man dann über @extend %name benutzen kann
%buttons-base {
    border: none;
    font-weight: 700;
    padding: 1rem;
    height: $size-x / 2;
    color: white;
    &:hover {
        cursor: pointer;
    }
}

.button-primary {
    // Über @include kann man mixins benutzen. Mixins sind wie placeholder klassen in die man Werte übergeben kann. Hier übergeben wir als $theme variable blue und als $fontS variable 3rem
    @include app-theme($theme: blue, $fontS: 3rem);
    @extend %buttons-base;
}

.button-secondary {
    @extend %buttons-base;
    @include app-theme($theme: $color-secondary);
}
