nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    flex-grow: 1;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #FFF;
}
